.button-login {
    padding: 8px;
    border: 0.094em solid #743ea5;
    border-radius: 0.625em;
    background-color: #9a68c7;
    box-shadow: 0 0.375em 0.313em -0.313em rgba(0, 0, 0, 0.8),
        inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em rgba(0, 0, 0, 0.15);
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0.063em #000;
    cursor: pointer;
    font-size: 1rem;
    outline: none;
}

.button-login:hover {
    background-color: #8a58b7;
    box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4),
        inset 0 -0.188em #804fad;
}

.button-logout {
}
